:root {
  --base-color: #921616;
  --base-variant: #1c1b20;
  --text-color: #eae2d2;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}


.darkmode {
  --base-color: #000000;
  --base-variant: #d12323;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #4a3232;
  --accent-color: #0071ff;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

#theme-switch {
  border-radius: 400px;
  padding: 2px 4px;

}

#theme-switch svg {
  fill: var(--primary-color);

}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.container {
  background-color: var(--base-variant);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #ffffff;
}

#monsterInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#searchButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0056b3; /* Darker shade of blue */
}

.monster-result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}
